.attraction_main {
  width: min(calc(100%), 1180px);
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: scroll;
  scrollbar-width: thin;
  margin-top: 54px;
  padding-top: 37px;
  padding-bottom: 37px;
  gap: 20px;
  .carousel {
    width: 540px;
    height: 406px;
    aspect-ratio: 540/406;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
  .attraction_info {
    width: 600px;
    color: var(--gray-70);
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.booking_title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.booking_container {
  background-color: var(--gray-20);
  width: 560px !important;
  height: 272px;
  padding: 15px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  line-height: 23px;
}

.attraction_container {
  font-weight: 400;
  color: var(--gray-70);
  line-height: 23.17px;
}

@media (max-width: 1100px) {
  .attraction_main {
    width: min(100%, 1170px);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 37px;
    gap: 20px;
    justify-content: center;
    .carousel {
      width: min(calc(100%), 540px);
      display: flex;
      justify-content: center;
    }
  }

  .booking_title {
    width: min(calc(100% - 50px), 600px);
    margin: auto;
  }
}

@media (max-width: 505px) {
  .attraction_info {
    width: calc(100% - 10px);
    justify-content: center;
    padding: 5px;
    color: var(--gray-70);
    display: grid;
    display: flex;
    gap: 15px;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.booking_title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.booking_container {
  margin: auto;
  width: min(calc(100% - 50px), 560px);
  background-color: var(--gray-20);
  height: 302px;
  justify-self: center;
}

#booking_time {
  display: flex;
  label {
    width: 80px;
    display: flex;
  }
}

@media (max-width: 360px) {
  .carousel {
    width: min(100%, 350px);
    height: min(100%, 350px);
    margin: auto;
    img {
      width: 100%;
      aspect-ratio: 360/350;
      object-fit: cover;
    }
  }
}

// input[type="radio"] {
//   /* Remove most all native input styles */
//   appearance: none;

//   /* For iOS < 15 */
//   background-color: var(--white);
//   /* Not removed via appearance */
//   font: inherit;
//   color: currentColor;
//   width: 22px;
//   height: 22px;
//   border-radius: 50%;
//   transform: translateY(-0.075em);
//   display: grid;
//   place-content: center;
// }

// input[type="radio"]::before {
//   content: "";
//   width: 18px;
//   height: 18px;
//   border-radius: 50%;
//   transform: scale(0);
//   transition: 120ms transform ease-in-out;
//   /* Windows High Contrast Mode */
//   background-color: var(--cyan-70);
// }

// input[type="radio"]:checked::before {
//   transform: scale(1);
// }

// input[type="radio"]:focus {
//   outline: max(2px, 0.15em) solid currentColor;
//   outline-offset: max(2px, 0.15em);
// }

#booking_date {
  position: relative;
  // border: 1px solid rebeccapurple;

  max-height: 35px;
  input {
    width: 149px;
    height: 25px;
    padding: 3.4px 32.4px 3.4px 8.4px;
  }
  #booking_calender {
    position: absolute;
    left: 235px;
    top: 5px;
    margin: auto;
  }
}
