.attraction {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  width: min(calc(100% - 25px), 1200px);
  min-height: calc(100vh - 269px);
  gap: 30px;
  padding-top: 37px;
  scrollbar-width: thin;

  .carousel {
    display: none;
    position: relative;
    margin: auto;
    width: 540px;
    height: 406px;
    overflow: hidden;
  }

  .carousel .carousel__radios {
    position: relative;
    z-index: 5;
    bottom: 16px;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 12px;
    transform: translateY(-50%);

    .carousel__radios__radio {
      width: 10.4px;
      height: 10.4px;
      border-radius: 50%;
      border: 1px solid var(--white);
      background-color: var(--white);
      opacity: 0.8;
      &:hover,
      &:target {
        background-color: var(--black);
      }
    }
  }

  .carousel .carousel__item {
    display: none;
    height: 100%;
    background-size: cover;
    background-position: center;
    isolation: isolate;
  }

  .carousel .carousel__item::before,
  .carousel .carousel__item::after {
    position: absolute;
    inset: 0;
    background-color: var(--bluegrey);
    content: "";
    opacity: 0.2;
    mix-blend-mode: overlay;
  }

  .carousel .carousel__item--visible {
    display: block;
  }

  .carousel .carousel__actions {
    position: relative;
    inset: 50% 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: var(--black);
    transform: translateY(-50%);
  }

  .carousel .carousel__actions button {
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url(../images/btn_leftArrow.png);
    background-size: cover;
    border-radius: 50%;
    border: 0;
    opacity: 0.8;
    cursor: pointer;
  }

  .carousel .carousel__actions button#carousel__button--prev {
    left: 10px;
  }

  .carousel .carousel__actions button#carousel__button--next {
    right: 10px;
    transform: rotateY(180deg);
  }

  .attraction_info {
    display: none;
    // display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 600px;

    .booking_container {
      display: flex;
      flex-direction: column;
      max-width: 560px;
      height: 302px;
      padding: 15px 20px;
      gap: 15px;
      line-height: 23px;
      background-color: var(--gray-20);
      border-radius: var(--primary-border-radius);
      p {
        font-weight: 700;
      }
      .booking_date {
        position: relative;
        max-height: 35px;
        label {
          display: inline-flex;
          font-weight: 700;
        }
        input[type="date"] {
          width: 149px;
          height: 25px;
          font-size: inherit;
          padding: 3.4px 32.4px 3.4px 8.4px;
          background-color: var(--white);
          color: var(--black);
          &::-webkit-clear-button {
            display: none;
          }
        }
      }

      .booking_time {
        display: flex;
        max-height: 35px;
        gap: 5px;
        .firstHalf,
        .secondHalf {
          display: flex;
          align-items: center;
          margin-right: 18px;
          gap: 6px;
          & ~ label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: auto 0;
            border: 2px solid transparent;
          }

          input[type="radio"] {
            appearance: none;
            width: 22px;
            height: 22px;
            border: 2px solid var(--white);
            border-radius: 50%;
            background-color: var(--white);
            &:checked {
              background-color: var(--cyan-70);
            }
          }
        }
      }
      .attraction_fee {
        display: flex;
        gap: 5px;
        font-weight: 700;
        p {
          font-weight: 500;
        }
      }
      #booking_btn {
        position: relative;
        width: 154px;
        height: 36px;
        font-size: 19px;
        background-color: var(--cyan-70);
        border-radius: 5px;
        color: var(--white);

        --border-size: 2px;
        &::before {
          inset: 0;
          z-index: -1;
          position: absolute;
          background-color: var(--cyan-50);
          border-radius: 5px;
          content: "";
          transition: transform 300ms ease-in-out;
          transform: scaleX(0);
          transform-origin: left;
        }
        &:focus::before,
        &:hover::before {
          border-radius: 5px;
          transform: scaleX(1);
        }
        &:hover {
          z-index: 5;
          color: var(--white);
          border-radius: 5px;
        }
      }
    }
  }
  .booking_title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.attraction_container {
  display: none;
  // display: flex;
  flex-direction: column;
  width: min(calc(100% - 45px), 1180px);
  margin: auto;
  gap: 20px;
  padding-block: 50px 120px;
  text-align: justify;
  font-weight: 400;
  line-height: 25px;
}

hr {
  width: min(calc(100% - 25px), 1200px);
  margin: auto;
  padding-bottom: 37px;
  border: none;
  border-bottom: 1px solid var(--gray-20);
}

.hr {
  width: 100%;
  margin: 54px 0 0 0;
  border: none;
  border-bottom: 1px solid var(--gray-20);
}

@media screen and (max-width: 850px) {
  .attraction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    scrollbar-width: thin;
  }
  .carousel {
    width: min(100%, 540px) !important;
    height: 350px !important;
    margin: auto;
  }
  .attraction_info {
    width: min(calc(100% - 10px), 540px) !important;
    margin: auto;
    .booking_title {
      width: min(calc(100% - 10px), 540px);
      margin: auto;
    }
    .booking_container {
      width: min(calc(100% - 50px), 500px);
      margin: auto;
    }
  }
  .attraction_container {
    width: min(calc(100% - 30px), 530px);
    margin: auto;
  }
  hr {
    padding-bottom: 37px;
    width: min(calc(100% - 20px), 540px);
  }
}

@media screen and (max-width: 580px) {
  .attraction_main {
    padding-top: 0px;
  }
  .hr {
    padding-bottom: 0px;
  }
  hr {
    padding-bottom: 40px;
  }
}

.material-symbols-outlined {
  padding-inline: 5px;
  font-size: inherit;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--cyan-50);
  cursor: pointer;
}

.modal:modal {
  margin: auto;
  // padding: 1em;
  max-width: 50ch;
  // border: 0;
  // box-shadow: 0 0 1em rgb(0 0 0 / .3);
  background-color: var(--gray-20);
  border: none;
  border-radius: 10%;
  padding: 15px;
  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

iframe {
  width: 100%;
  height: 300px;
}

.modal_close,
.modal__redirect--close {
  position: absolute;
  inset: auto 20px auto auto;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.modal__redirect__content {
  width: min(300px, 500px);
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  img {
    width: 100%;
    height: 100%;
  }

  .modal__redirect__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    a {
      color: var(--cyan-70);
      text-decoration: none;
      position: relative;

      &:after,
      &::before {
        content: "";
        position: absolute;
        display: block;
        border-bottom: 1px dashed black;
        width: 1px;
        opacity: 0;
        transition: width ease-in-out 0.5s;
      }
      &::after {
        height: 5px;
      }
      &::before {
        height: 0px;
        top: -5px;
      }
      &:hover::after,
      &:hover::before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
