* {
  margin: 0px;
  padding: 0px;
  box-sizing: auto;
  font-size: inherit;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --cyan-70: #448899;
  --cyan-50: #66aabb;
  --cyan-20: #aaddee;
  --gray-70: #666666;
  --gray-50: #757575;
  --gray-20: #e8e8e8;
  --LightCyanGradient: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  --DarkCyanGradient: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  --bluegrey: #aabbcc;
  --white: #ffffff;
  --black: #000000;
  --error: rgb(212, 127, 127);

  --primary-border-radius: 5px;
  --input-border: 1px solid #cccccc;
}

html,
body {
  text-size-adjust: none;
}

button,
input {
  outline: none;
  border: none;
  appearance: none;
  font-size: initial;
  line-height: 13.3px;
}

:focus:not(:focus-visible) {
  outline: 0;
}

a:focus {
  outline: var(--white) dotted 1px;
  outline-offset: 0.05em;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

[type="submit"],
[type="reset"] {
  appearance: none;
}

body {
  width: 100%;
  line-height: 13.3px;
  font-weight: 500;
  color: var(--gray-70);
  scroll-behavior: smooth;
  cursor: default;
  overflow-y: hidden;
}

.header__container {
  width: 100%;
  height: 320px;
  margin-top: 54px;
  background-image: url(../images/welcome.webp);
  background-size: cover;
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min(calc(100% - 40px), 1200px);
    height: 100%;
    margin: auto;
    gap: 15px;
    padding-inline: 10px;
    margin: auto;
    color: var(--white);

    .header__slogan {
      font-size: 28px;
      line-height: 24px;
      font-weight: 700;
    }

    .category_text {
      color: var(--black);
    }
    button {
      width: 60px;
      height: 46px;
      border-top-right-radius: var(--primary-border-radius);
      border-top-right-radius: var(--primary-border-radius);
      border-bottom-right-radius: var(--primary-border-radius);
      background-color: var(--cyan-70);
      background-image: url(../images/icon_search.png);
      background-position: center;
      background-repeat: no-repeat;
      color: transparent;
    }
  }
}

input#search {
  width: 370px;
  height: 16px;
  box-shadow: 0px 0px 20px var(--bluegrey);
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  border-top-left-radius: var(--primary-border-radius);
  border-bottom-left-radius: var(--primary-border-radius);
  &:focus {
    color: var(--black);
  }
}

.nav-container {
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%;
  background-color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  width: min(calc(100% - 25px), 1200px);
  height: 34px;
  margin: auto;
  padding: 10px;

  h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: var(--cyan-70);
    a {
      color: inherit;
    }
  }
  .nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

    &__link,
    &__link:hover,
    &__link:visited {
      width: 71px;
      text-decoration: none;
      font-size: 16px;
      color: var(--gray-70);
    }
    p {
      cursor: pointer;
    }
    #logout {
      display: none;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 104px;
  background-color: var(--gray-70);
  color: var(--white);
}

.login,
.register {
  z-index: 10;
  top: 80px;
  left: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 10px;
  padding: 5px 15px;
  margin: auto;
  text-align: center;
  background-color: var(--white);
  border-radius: 0px 0px 6px 6px;
  transform: translate(-50%, 0px);
  .login--close,
  .register--close {
    position: absolute;
    top: 7px;
    right: calc(0% + 17px);
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  h2 {
    margin: 5px 0px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
  & > input {
    padding: 15px;
    border-radius: var(--primary-border-radius);
    border: 1px solid #cccccc;
    color: rgb(75, 71, 71);
    &:focus {
      border: 2px solid var(--cyan-70);
    }
  }
  .pw-container {
    color: rgb(75, 71, 71);
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    border-radius: var(--primary-border-radius);
    width: 100%;
    input {
      padding: 15px;
      width: 100%;
      // max-width: calc(100% - 30px);
      border-radius: var(--primary-border-radius);
      border: var(--input-border);
      &:focus {
        border: 2px solid var(--cyan-70);
      }
    }
    .password--type {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  input ~ p {
    display: none;
    color: var(--error);
    font-size: 13px;
  }
  button {
    padding: 10px 20px;
    font-size: 19px;
    background-color: var(--cyan-70);
    color: var(--white);
    border-radius: var(--primary-border-radius);
    border: none;
  }
}

.login {
  min-height: 255px;
}
.register {
  min-height: 312px;
}
#register__link,
#login__link {
  margin-bottom: 2.5px;
  padding-block: 5px;
  cursor: pointer;
}

.login::before,
.register::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  display: block;
  width: 100%;
  height: 10px;
  background: var(--DarkCyanGradient);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.active.login,
.active.register,
.active.overlay,
.active.transparent_overlay {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  inset: 0;
  z-index: 9;
  position: fixed;
  background-color: rgb(0 0 0/ 0.25);
}

.transparent_overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: transparent;
}

@media (max-width: 505px) {
  input#search {
    width: 200px;
  }
}

@import "./home";
@import "./attraction";
@import "./booking";
@import "./thankyou";

.loadingPage::-webkit-scrollbar {
  display: none;
}

.loadingPage {
  --duration: 10s;
  --size: 80vw;
  --characters: 14;
  --font-size: 22px;
  --delay-character: 0.2s;
  --text-color-hover: #ff8489;
  z-index: 20;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--gray-20);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  .frame {
    width: var(--size);
    height: var(--size);
    max-width: 400px;
    max-height: 400px;
    margin-top: calc(50vh - 150px);
    border: 2px #fbfbfb solid;
    position: relative;
    box-shadow: inset 0 0 0 20px white;
    background: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80)
      no-repeat center;
    background-size: cover;
    transition: ease all 0.3s;
    &:hover {
      box-shadow: inset 0 0 0 0 white;
      border: 2px #f9f9f9 solid;
      cursor: pointer;
      .text {
        mix-blend-mode: difference;
        span {
          color: var(--text-color-hover);
        }
      }
    }
    .text {
      transform: translate(
        calc(calc(var(--font-size) * -1) / 2),
        calc(calc(var(--font-size) * -1) / 2)
      );
      position: relative;
      height: 100%;
      transition: ease all 0.3s;
    }
    span {
      font-size: var(--font-size);
      display: inline-block;
      text-align: center;
      width: var(--font-size);
      animation: frameMove var(--duration) linear infinite;
      position: absolute;
      transition: ease all 0.3s;
      @for $i from 1 through 52 {
        &:nth-of-type(#{$i}) {
          animation-delay: calc(var(--delay-character) * #{$i});
        }
      }
    }
  }
  @keyframes frameMove {
    0% {
      top: 0;
      left: 0;
      transform: rotate(0deg);
    }
    24% {
      top: 0;
      left: 100%;
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    49% {
      top: 100%;
      left: 100%;
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    74% {
      top: 100%;
      left: 0%;
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    99% {
      top: 0%;
      left: 0%;
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
