@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --cyan-70: #448899;
  --cyan-50: #66aabb;
  --cyan-20: #aaddee;
  --gray-70: #666666;
  --gray-50: #757575;
  --gray-20: #e8e8e8;
  --LightCyanGradient: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  --DarkCyanGradient: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  --bluegrey: #aabbcc;
  --white: #ffffff;
  --black: #000000;
}

input {
  color: var(--gray-50);
  font-family: "Noto Sans TC", sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 500;
}

.header_container {
  background-image: url(../images/welcome.png);
  background-size: cover;
  background-position: 0% 0%;
  width: 100%;
  height: 320px;

  header {
    width: min(90%, 1198px);
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color: var(--white);
    gap: 15px;
    .slogan_title {
      font-size: 28px;
      line-height: 24px;
      font-weight: 700;
    }

    #search {
      font-weight: 700;
      width: 370px;
      height: 16px;
      // padding: 11.5px 15px;
      border-radius: 5px 0px 0px 5px;
      border: none;
      line-height: 13.3px;
      font-size: 16px;
      box-shadow: 0px 0px 20px #aabbcc;
      outline: none;
      padding: 15px;
    }
    #search:focus {
      color: var(--black);
    }
    .category_text {
      color: var(--black);
    }
    button {
      width: 60px;
      height: 46px;
      background-color: var(--cyan-70);
      color: transparent;
      background-image: url(../images/icon_search.png);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0px 5px 5px 0px;
      border: none;
      font-size: 16px;
    }
  }
}

.nav-container {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  width: min(calc(100% - 25px), 1200px);
  height: 34px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  h2 {
    color: var(--cyan-70);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    display: flex;
    align-items: center;
    a {
      color: inherit;
    }
  }
  .nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    cursor: pointer;

    a,
    a:hover,
    a:visited,
    p {
      text-decoration: none;
      font-size: 16px;
      color: var(--gray-70);
    }
  }
}

footer {
  width: 100%;
  height: 104px;
  background-color: var(--gray-50);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login,
.register {
  z-index: 5;
  position: fixed;
  width: 310px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0px);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 15px;
  margin: auto;
  text-align: center;
  color: var(--gray-70);
  border-radius: 0px 0px 6px 6px;
  cursor: pointer;
  .login_close,
  .register_close {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 7px;
    right: calc(0% + 17px);
  }
  h2 {
    margin: 5px 0px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
  input {
    padding: 15px;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    background-color: var(--cyan-70);
    border-radius: 5px;
    color: var(--white);
    font-size: 19px;
  }
}

.login {
  max-height: 265px;
}
.register {
  max-height: 322px;
}
#register_link,
#login_link {
  margin-bottom: 2.5px;
  padding: 5px 0px;
}

.login::before,
.register::before {
  content: "";
  background: var(--DarkCyanGradient);
  width: 100%;
  height: 10px;
  display: block;

  position: absolute;
  top: -10px;
  left: 0px;
}

.active.login,
.active.register,
.active.overlay {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

@import "./home";
@import "./attraction";

@media (max-width: 505px) {
  #search {
    width: 200px;
  }
}

// for ios

button,
[type="submit"],
[type="reset"] {
  appearance: none;
}

html,
body {
  text-size-adjust: none;
}
