<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="資料為台北58個景點組成的旅遊網站" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
    {%endblock%}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{%block title%}Home{%endblock%}</title>
  </head>
  <body>
    <div class="loadingPage">
      <div class="frame">
        <div class="text">
          <span>❤</span>
          <span></span>
          <span>E</span>
          <span>V</span>
          <span>O</span>
          <span>L</span>
          <span></span>
          <span>H</span>
          <span>T</span>
          <span>I</span>
          <span>W</span>
          <span></span>
          <span>E</span>
          <span>D</span>
          <span>A</span>
          <span>M</span>
          <span></span>
          <span>❤</span>
          <span></span>
          <span>E</span>
          <span>V</span>
          <span>O</span>
          <span>L</span>
          <span></span>
          <span>H</span>
          <span>T</span>
          <span>I</span>
          <span>W</span>
          <span></span>
          <span>E</span>
          <span>D</span>
          <span>A</span>
          <span>M</span>
          <span></span>
          <span>❤</span>
          <span></span>
          <span>E</span>
          <span>V</span>
          <span>O</span>
          <span>L</span>
          <span></span>
          <span>H</span>
          <span>T</span>
          <span>I</span>
          <span>W</span>
          <span></span>
          <span>E</span>
          <span>D</span>
          <span>A</span>
          <span>M</span>
        </div>
      </div>
    </div>
    <div class="nav-container">
      <nav>
        <h2><a href="/">台北一日遊</a></h2>
        <div class="nav__link">
          <a
            class="nav__link__link"
            id="booking"
            href="#"
            title="前往預定行程頁面的任意門"
            >預定行程</a
          >
          <p id="member" class="nav__link__link" onclick="memberElClick()">
            登入/註冊
          </p>
          <p id="logout" class="nav__link__link" onclick="logout()">登出</p>
        </div>
      </nav>
    </div>
    <div class="login active" role="form" aria-label="Login information">
      <img
        class="login--close"
        src="/static/images/close.png"
        alt="login close"
        onclick="loginElClose()"
        role="button"
      />
      <h2>登入會員帳號</h2>

      <input
        id="login__email"
        type="email"
        name="email"
        placeholder="輸入電子郵件"
        required
        aria-required="true"
        autocomplete="off"
      />
      <p id="login__email--text"></p>
      <div class="pw-container">
        <input
          id="login__password"
          type="password"
          name="password"
          placeholder="輸入密碼"
          aria-required="true"
          required
        />
        <span class="material-symbols-outlined password--type">
          visibility_off
        </span>
      </div>

      <p id="login__password--text"></p>
      <button id="login-member" onclick="loginHandler()">登入帳號</button>
      <span id="register__link" onclick="linkToRegister()"
        >還沒有帳戶？點此註冊</span
      >
    </div>
    <div class="register active" role="form" aria-label="Register information">
      <img
        class="register--close"
        src="/static/images/close.png"
        alt="register_close"
        onclick="registerElClose()"
      />
      <h2>註冊會員帳號</h2>
      <input
        id="register__name"
        type="text"
        placeholder="輸入姓名"
        name="name"
        aria-required="true"
        required
      />
      <p id="register__name--text"></p>
      <input
        id="register__email"
        type="email"
        name="email"
        placeholder="輸入電子郵件"
        required
        aria-required="true"
        required=""
      />
      <p id="register__email--text"></p>
      <div class="pw-container">
        <input
          id="register__password"
          type="password"
          name="password"
          placeholder="輸入密碼"
          required
          aria-required="true"
        />
        <span class="material-symbols-outlined password--type" role="button"
          >visibility</span
        >
      </div>
      <p id="register__password--text"></p>
      <button id="register--submit" onclick="registerHandler()">
        註冊新帳號
      </button>
      <span id="login__link" onclick="linkToLogin()"
        >已經有帳戶了？點此登入</span
      >
    </div>
    <div class="overlay active" onclick="popupClose()"></div>
    <div class="transparent_overlay active" onclick="searchMenuClose()"></div>
    {% block content %} {% endblock %}
  </body>
</html>
