{% extends "base.html" %} {%block title%}台北一日遊 | 首頁 {%endblock%} {% block
content %}
<div class="header_container">
  <header>
    <div class="slogan_title">輕鬆享受台北一日悠閒</div>
    <span>探索每個角落，體驗城市的深度旅遊行程</span>
    <label for=""
      ><input
        type="text"
        placeholder="輸入景點查詢"
        autocomplete="off"
        id="search"
      /><button id="search_btn">btn</button>
    </label>
    <div class="active search_menu"></div>
  </header>
</div>
<main class="home_main"></main>

<footer><p>COPYRIGHT © 2021 台北一日遊</p></footer>

{% endblock %}
