{% extends "base.html" %} {%block title%}台北一日遊 | 首頁 {%endblock%} {% block
content %}
<div role="banner" class="header__container">
  <header>
    <div class="header__slogan">輕鬆享受台北一日悠閒</div>
    <p>探索每個角落，體驗城市的深度旅遊行程</p>
    <label for="search"
      ><input
        role="search"
        type="text"
        placeholder="輸入景點查詢"
        autocomplete="off"
        id="search"
        onkeydown="keyDownHandler();"
      /><button id="search__btn" onclick="getKeyword()">btn</button>
    </label>
    <div class="active search__menu" role="menu"></div>
  </header>
</div>
<main class="home__main"></main>
<footer><p>COPYRIGHT © 2022 台北一日遊</p></footer>
{% endblock %}
